/node_modules/
/public
.project
/target/
/src/main/resources/META-INF/resources/ 
/bin/
/.settings/
/.classpath
/static/assets/images/vendor/*
/static/assets/fonts/vendor/*
/static/assets/js/*
/static/assets/css/*